<h1>instagram</h1>
<%= link_to "New Post", new_post_path %>
<% @posts.each do |post| %>

<div class="card" style="width: 18rem;">
  <%= (image_tag post.image.url(:medium), class: "card-img-top")  %>
  <div class="card-body">
    <p class="card-text"><%= post.caption %></p>
  </div>
</div>
<% end %>
